@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

body {
    background-color: hsl(0, 0%, 81%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.all-testimonials {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 0.8fr 0.7fr 1.2fr 1fr;
    gap: 40px;
}

.testimonial {
    max-width: 400px;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
    font-family: 'Barlow Semi Condensed';
    font-weight: 500;
}

.testimonial .profile {
    display: flex;
    gap: 15px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.testimonial .profile-detail {
    display: flex;
    flex-direction: column;
}

.testimonial img {
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
}

.testimonial h2 {
    font-weight: 600;
}

.testimonial#testimonial-daniel {
    background-color: hsl(263, 55%, 52%);
    color: hsl(214, 17%, 92%);
}

.testimonial#testimonial-daniel .testimonial-paragraph {
    color: hsl(0, 0%, 81%);
}

.testimonial#testimonial-jonathan {
    background-color: hsl(217, 19%, 35%);
    color: hsl(214, 17%, 92%);
}

.testimonial#testimonial-jonathan .testimonial-paragraph {
    color: hsl(0, 0%, 81%);
}

.testimonial#testimonial-jeanette {
    background-color: hsl(214, 17%, 92%);
    color: hsl(217, 19%, 35%);
}

.testimonial#testimonial-jeanette .testimonial-paragraph {
    color: hsl(217, 19%, 35%);
}

.testimonial#testimonial-patrick {
    background-color: hsl(219, 29%, 14%);
    color: hsl(214, 17%, 92%);
}

.testimonial#testimonial-patrick .testimonial-paragraph {
    color: hsl(0, 0%, 81%);
}

.testimonial#testimonial-kira {
    background-color: hsl(214, 17%, 92%);
}

.testimonial#testimonial-kira .testimonial-paragraph {
    color: hsl(224, 10%, 45%);
}
