@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

body {
    background-color: hsl(214, 17%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.all-testimonials {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(160px, auto);
    gap: 40px;
}

.testimonial {
    max-width: 400px;
    min-height: 0;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 12px;
    font-family: 'Barlow Semi Condensed';
    font-weight: 500;
    box-shadow: 1px 1px 10px hsl(219, 29%, 14%);
}

.testimonial-paragraph {
  flex: 1 1 auto;
  overflow: auto;
  font-size: 18px;
  line-height: 1.5em;
}

.testimonial .profile {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.testimonial .profile-detail {
    display: flex;
    flex-direction: column;
}

.testimonial img {
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
}

.testimonial h2 {
    font-weight: 600;
    font-size: 30px;
}

.testimonial .name {
    font-size: 18px;
}

.testimonial .check-graduate {
    font-size: 14px;
    font-weight: 500;
}

.testimonial#testimonial-daniel {
    background-color: hsl(263, 55%, 52%);
    color: hsl(214, 17%, 92%);
    grid-row: span 3;
}

#testimonial-daniel .check-graduate {
    color: hsl(0, 0%, 81%);
}

.testimonial#testimonial-daniel .testimonial-paragraph {
    color: hsl(0, 0%, 81%);
}

.testimonial#testimonial-jonathan {
    background-color: hsl(217, 19%, 35%);
    color: hsl(214, 17%, 92%);
}

.testimonial#testimonial-jonathan .testimonial-paragraph {
    color: hsl(0, 0%, 81%);
}

#testimonial-jonathan .check-graduate {
    color: hsl(0, 0%, 81%);
}

.testimonial#testimonial-jeanette {
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
}

.testimonial#testimonial-jeanette .testimonial-paragraph {
    color: hsl(217, 19%, 35%);
}

#testimonial-jeanette .check-graduate {
    color: hsl(224, 10%, 45%);
}

.testimonial#testimonial-patrick {
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 100%)
}

.testimonial#testimonial-patrick .testimonial-paragraph {
    color: hsl(0, 0%, 81%);
}

#testimonial-patrick .check-graduate {
    color: hsl(0, 0%, 81%);
}

.testimonial#testimonial-kira {
    background-color: hsl(0, 0%, 100%);
}

.testimonial#testimonial-kira .testimonial-paragraph {
    color: hsl(224, 10%, 45%);
}

#testimonial-kira .check-graduate {
    color: hsl(224, 10%, 45%);
}

@media (min-width: 1024px) {
    .all-testimonials {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 20px;
    }

    .testimonial {
        max-width: none;
    }

    .testimonial#testimonial-daniel {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    }

    .testimonial#testimonial-jonathan {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
    }

    .testimonial#testimonial-jeanette {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    .testimonial#testimonial-patrick {
        grid-row: 2 / 3;
        grid-column: 2 / 4;
    }

    .testimonial#testimonial-kira {
        grid-row: 1 / 3;
        grid-column: 4 / 5;
    }
}
